$socket-size: 16px;

$node-title-size: 14px;
$node-title-weight: bold;

$node-border-radius: 8px;
$node-border-width: 2px;
$node-border-style: solid;

$node-line-color: #1998ff;
$node-line-color-hover: #1998ff;

$node-width: 224px;